.wrapper {
    margin-right: 20px;
}

.item {
    padding: 10px 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 228px;
    height: 39px;

    background: #212C42;
    box-shadow: 5px 5px 6px #1e283d, -5px -5px 6px #243047;
    border-radius: 30px;
}