.select {
    margin-left: 20px;
    padding: 10px;

    width: 154px;
       
    color: rgba(255, 255, 255, 0.87);

    border: none;
    border-radius: 10px;
    background: #212C42;
    box-shadow:  5px 5px 6px #1e283d,
             -5px -5px 6px #243047;

    font-family: 'Furore';
    font-weight: 400;
    font-size: 12px;

    
    transition: 0.5s ease 0s;
}

.select:active,
.select:focus-visible {
    outline: none;
    border: none;
    border-radius: 10px;
    background: #212C42;
    box-shadow: inset 5px 5px 6px #1e283d,
            inset -5px -5px 6px #243047;

    transition: 0.5s ease 0s;        
}

.option {
    padding: 10px 5px;
}