.backgroundMovie {
    position: relative; 
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 700px;
}

.background {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: -10px;
}

.background_color {
    width: 100%;
    height: 100%;
    background: #212c42c2;
    /* background: linear-gradient(90deg, #212C42 6.25%, rgba(32, 42, 62, 0.9) 41.15%, rgba(30, 39, 58, 0.78) 71.88%, rgba(30, 40, 59, 0.72) 100%); */
    position: absolute;
    z-index: 1;
}

.container {
    padding: 50px 0;
    margin: 0 auto;

    height: 100%;

    position: relative;

    max-width: 1400px;

    z-index: 1;
}
.info_wrapper {
    margin-left: 40px;
}

.poster_wrapper {
    grid-area: poster;
    margin-right: 30px;
}

.info_top {
    grid-area: top;
}

.info_bottom {
    grid-area: bottom;
}

.wrapper {
    padding: 50px 30px 50px 0;
    display: grid;
    grid-template-columns:1fr, 1.5fr;
    grid-gap: 10px;
    grid-template-areas: 
    "poster top"
    "poster bottom";
}



.poster {
    width: 100%;
    border-radius: 41px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.title {
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}

.subtitle {
    display: flex;
    padding: 0;
    margin: 6px 0 15px 0;
}

.date {
    margin-right: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
}

.marker {
    margin-right: 10px;
}

.subtitle li {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.addfavorite {
    display: flex;
    align-items: center;
}

.favorit {
    margin-left: 21px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: rgba(33, 44, 66, 0.83);

    transition: 0.5s ease 0s;
}

.favorit:hover {
    background: #8985ca9c;
}

.favorit_vote {
    display: flex;
    align-items: center;
}

.chart_wrapper {
    position: relative;
}

.chard {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 19px;
    transform: translate(-50%, -50%);
}

.chart_title {
    width: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.favorit_title {
    margin-left: 20px;
    width: 130px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.video_wrapper {
    display: flex;
    align-items: center;
}

.video_wrapper:hover {
    cursor: pointer;
}

.viedeo_container {
    background: url("../../img/b.png") no-repeat;
    width: 143px;
    height: 47px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFF7F7;
}

.check {
    height: 19px;
}

.arrow {
    margin-right: 6px;
}

.description_title {
    margin: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;

    color: #FFF7F7;
}


.description {
    margin-bottom: 40px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #FFF7F7;
}

.crew_cart {
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 10px 13px;

    background: rgba(33, 44, 66, 0.83);
    border-radius: 20px;
}

.producer {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #FFF2F2;
}

.crew_job {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    color: #FFF7F7;
}

.cast_container {
    max-width: 1400px;
    margin: 50px auto;
}


.actors_title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;

    color: #FFF7F7;
}

.cast_wrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
}


.cast_wrapper::-webkit-scrollbar {
    width: 10px;
}

.cast_wrapper::-webkit-scrollbar-track {
    /* -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset; */
    background-color: #212c42;
    border-radius: 10px;
}

.cast_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(90deg, #32A8D0, #B476C9);
    width: 100px;
}

@media (max-width: 1400px) {
    .container {
        padding: 50px 20px;
    }

    .cast_container {
        padding: 0 20px;
    }
  }


@media (max-width: 1140px) {
    .wrapper {
      grid-template-areas: 
        "poster top"
        "bottom bottom"; 
        grid-template-columns: repeat(1,1fr);
      }

      .info {
          flex-wrap: wrap;
      }
      
  
  }
  
  @media (max-width: 991px) {
    .info {
        align-items: flex-start;
    }

    .subtitle {
        flex-wrap: wrap;
    }

    .chart_title {
        display: none;
    }

  }
  
   @media (max-width: 880px) {
    .wrapper {
        grid-template-areas: 
          "poster"
          "top"
          "bottom"; 
          grid-template-columns: 1fr;
        }

        .backgroundMovie {
            height: auto;
        }

        .container {
            padding: 20px;
        }

        .wrapper {
            padding: 0;
        }

        .poster_wrapper {
            margin: 0;
        }

        .background {
            width: auto;
            height: 100%;
        }

        .video_wrapper {
           flex-direction: column;
           align-items: start;
        }
        .favorit {
            margin: 0;  
        }
        .viedeo_container {
            margin-bottom: 15px;
        }
  }
  
  
  /* @media (max-width: 486px) {
    .grid_item {
      padding: 0;
      grid-template-areas: 
        "path path"
        "title title"
        "info info"; 
      grid-template-columns: 1fr; 
      }
      
      .path_wrapper {
        margin-right: 0;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
      }
  
      .path_wrapper img{
        width: 100%;
      }
  
      .card_info_top {
        padding: 0 20px;
        padding-bottom: 10px;
      }
      
      .card_info_bottom {
        padding: 0 20px;
        padding-bottom: 25px; 
      }
  
      .vote_mob {
        display: block;
      }
  }
    */