header {
    max-width: 1400px;
    margin: 0 auto;
}

.headerWrapper {
    position: relative;
    padding: 15px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo_title {
    padding-left: 10px;
    font-family: 'Furore';
}

.link_wrapper {
    display: flex;
    align-items: center;

    font-size: 14px;
}

.mob_header {
    display: none;
}

.link {
    margin: 0 20px;
}

@media (max-width: 686px) { 
    .logo {
        font-size: 14px;
    }

    .link_wrapper {
        font-size: 12px;
    }

    .link {
        margin: 0;
        margin-left: 10px;
    }

    .link_wrapper {
        display: none;
    }
    
    .mob_header {
        display: block;
    }

    .link_wrapper2_active {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background: #1e273a;
        z-index: 4;
        height: 100vh;
        width: 50%;
        padding: 20px;
        bottom: 0;
    }

    .link_wrapper2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 100%;
        top: 0;
        background: #1e273a;
        z-index: 4;
        height: 100vh;
        width: 50%;
        padding: 20px;
        bottom: 0;
    }


    .burger {
        display: flex;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(-50%, -20%);
    }

    .burger div {
        margin-left: 5px;
        width: 6px;
        height: 6px;
        background: #fff;
        border-radius: 50%;
        z-index: 2;
    }

    .icon {
        position: relative;
        z-index: 5;
    }

    .icon_active {
        position: relative;
        z-index: 5;
    }

    .back_active {
        position: absolute;
        background: #212c42f2;
        width: 64%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 4;
        transition: 1s ease 0s;
    }

    .back {
        position: absolute;
        background: #2a313e;
        width: 0;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 4;
        transition: 1s ease 0s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 47px;
        margin-left: 36px;
        font-size: 19px;
    }

    .menu_link {
        margin-bottom: 15px;
    }

    .search_wrapper {
        display: flex;
        align-items: center;
    }

}