.logo {
    display: flex;
    align-items: center;
}

.logo_title {
    padding-left: 10px;
    font-family: 'Furore';
}

.link_wrapper {
    display: flex;
    align-items: center;

    font-size: 12px;
}

.link {
    margin-left: 20px;
}

.input {
    position: relative;
    margin-left: 30px;
    padding: 10px;

    width: 154px;
    

    border: none;
    border-radius: 10px;
    background: #212C42;
    box-shadow:  5px 5px 6px #1e283d,
             -5px -5px 6px #243047;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 12px;

    
    transition: 0.5s ease 0s;

}

.loop {
    position: relative;
    
    left: -30px;
}

.loop:hover {
    cursor: pointer;
}

.input:active,
.input:focus-visible {
    margin-left: 30px;
    padding: 10px;

    width: 154px;
    
    outline: none;
    border: none;
    border-radius: 10px;
    background: #212C42;
    box-shadow: inset 5px 5px 6px #1e283d,
            inset -5px -5px 6px #243047;

    transition: 0.5s ease 0s;        
}